<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>ZMDE Steel Machinery integrate R&D, manufacturing, sales, and service, with expertise in intelligent H/T beam constructural production line and machines, Industry IoT, and control systems</p>
      </div>
      <div class="col-lg-4">
        <p>For Pre Fabricated Building, Pre Engineered Building, Structure Steel, Steel Fabrication, H/T Beam Fabrication, we provide machine and production line. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://www.zmdetech.com/shope" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> View Our Machines
        </a>
      </div>
    </div>
  </div>
</section>
